/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto';
}


.container {
	display: grid;
	grid-template: 1fr 4fr / 1fr 3fr;
	place-content: stretch;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	background-color: #ef4444;
	font-size: max(1.6vw, 20px);
	grid-area: 1 / 1 / 5 / 2;
	color: white;
}

.sidebar li {
	min-height: 40px;
}

.logo {
	display: grid;
	font-size: max(2.8vw, 34px);
	padding: 20px 6px 20px 20px;
}

.logo img {
	width: 50px;
}

div .nav,
.settings {
	padding: 20px;
	min-height: 300px;
}

li {
	padding: 4px;
	display: grid;
}

li:hover {
	background: rgba(236, 236, 236, 0.5);
	border-radius: 8px;
}

.header {
	grid-area: 1 / 2 / 2 / -1;
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: #fdba74;
}

.header1 {
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 5fr 1fr 1fr 1fr;
}

.search {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.search-icon img {
	display: grid;
}

.search-label {
	display: grid;
	align-items: center;
}

input {
	border-radius: 6px;
}

.header2 {
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: 1fr 5fr repeat(3, 1fr);
}

button {
	border-radius: 8px;
	align-self: center;
	background-color: rgb(62, 165, 255);
	color: white;
}

.main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.left-column {
	background-color: #f1f5f9;
	display: grid;
	grid-template: 1fr 9fr / 1fr;
}

.projects {
	display: grid;
	grid-template: repeat(3, 3fr) / 1fr 1fr;
}

h1 {
	display: grid;
	align-content: end;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
	padding: 10px;
}

ul {
	display: grid;
	list-style: none;
}

.right-column {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr 4fr;
	background-color: #f1f5f9;
}

.projects > div,
.right-column > ul {
	background-color: white;
	margin: 4px 20px 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 4px grey;
}

.project {
	border-width: 10px;
	border-style: none none none solid;
	border-color: #facc15;
}